header{
    background-color:  #f4a2fa;
    height: 70px;
    border-radius: 10px;
    padding-top:15px;
    padding-left:5px;
    box-shadow:2px 2px 2px gray;
    
    
 }
 #box1{
    display:inline;
    box-shadow: 5px 5px 5px gray;
    
 }
 header i{
    display:inline;
    color:gray;

 }
 header h1{
    
    display:inline;
    padding-right: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;



 }
  header nav{
text-align: right;
margin-right: 10px;
margin-top:-20px;
 }
 header nav a{
    text-decoration: none;
    padding-left:10px;
    padding-right:10px;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    text-shadow:0px 3px  0px gray;
    
 }
 header{
 }
 header nav a:hover{
    background-color:  #d68de1;
    background-size:200px;
    border-radius: 8px;
    
 }
 header nav a:active{
border-bottom: 4px solid;
 }
 foot p{
    text-align: center;
    }
    #box5{
       padding-top:10px;
       padding-bottom: 10px;
       background-color:  #f4cef7;
    }
    
    #box6 h2{
       padding-left:150px;
       color:#b884bb;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:1px 1px 1px gray;
    
    }
    
body{
    background-color: antiquewhite;

}
body{
    background-image: url('pictureproject/img.jpg');
    background-size: 500px;
}
*{
margin: 0;
padding:0;
box-sizing: border-box;
font-family: "Poppins",sans-serif;
}
body{    
    justify-content: center;

     min-height: 100vh;
    background:url(pictureproject/img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(3px);

}
.wrapper{
    margin-top: 200px;
     position:relative ; 
right: -500px;
    width: 500px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(6px);
    padding: 30px 40px;
    margin-bottom: 300px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
width: 70%;
height: 30px;
margin: 30px 0; 
}
.input-box input{
width: 100%;
height: 100%;
background:transparent;
border: none;
outline: none;
border: 2px solid rgba(255, 255, 255, .2);
border-radius: 40px; 
font-size: 16px;
color:aliceblue; 
padding: 20px 45px 20px 20px;  
}
.input-box input::placeholder{
color: aliceblue;
}
.input-box i{
  position: absolute;
  right: 20px;
  top:50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper.remember-forgot{
 display:flex ;
 justify-content:space-between ; 
 font-size: 14.5px; 
 margin: -15px 0 15px; 
}
.remember-forgot label input{

    accent-color:#fff;
    margin-right:3px ;
}
.remember-forgot a{
    color:#fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
 width: 100%;
 height: 30px;
 background: #f8edd5;
 border: none;
 outline: none;
 border-radius: 40px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 1);
 cursor: #333;
 font-weight: 600;   
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
}
.remember-forgot p a{
 color:#fff;
 text-decoration:none ;
 font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;}
    button:active{
        color:#da76c1;

    }